body {
    background-color: rgb(255, 255, 255) ;
}

h1 {
    font-style: italic ;
}
.futsal{
    font-size: larger;
}
h2 {
    font-style: normal;
}

h3{
    font-style: normal;
}

h4{
    font-style: normal;
}

img{
    width: 80%;
}